.jumbotron {
  background-color: #f1ba48;
  height: 300px;
}

.jumbotron h1 {
  color: #D75B66;
  text-align: center;
}

#middle {
  background-color: #8a91ac;
}

.row {
  margin: 0;
}

.btn {
  background-color: #F2EAED;
}

#lower {
  background-color: #8a91ac;
}

#con1 {
  background-color: #0f183e;
}

body {
  background-color: #0f183e;
}

.