.jumbotron {
  background-color: #16235A;
  height: 300px;
}

.jumbotron h1 {
  color: #F2EAED;
  text-align: center;
}

#middle {
  background-color: #8a91ac;
}

.row {
  margin: 0;
}

.btn {
  background-color: #F2EAED;
}

#lower {
  background-color: #8a91ac;
}